---
// src/pages/index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import ContentRenderer from "@/components/ContentRenderer/ContentRenderer.astro";
import { hasParent, query, sortByOrder } from "@/utils/query";
import FrontPageHero from "@/layouts/hero/FrontPageHero.astro";
import AboutSection from "@/layouts/i75/AboutSection.astro";
import WhyChooseUs from "@/layouts/i75/WhyChooseUs.astro";
import { Image } from "astro:assets";
import Poll from "@/assets/i75/poll.jpg";
import BgImage from "@/assets/i75/i75road.jpg";
import { course, siteData } from "@/content/siteData";
---

<BaseLayout
  title="Home"
  description="Get on i75 with Darius Clark, because the right teacher makes all the difference."
>
  <main class="flex-1">
    <FrontPageHero
      backgroundImage={BgImage}
      titleBefore="Welcome To "
      titleText="i75!"
      titleAfter={` The Right Road to Passing the ${course} Exam!`}
      description={siteData.tagline}
      ctaText={siteData.mainCTAText}
      ctaHref={siteData.mainCTAurl}
    >
      <ContentRenderer
        slot="parts"
        id="parts"
        query={hasParent("part")}
        variant="PartsVariant"
      />
    </FrontPageHero>

    <div class="border-3 border-light-primary pt-10 lg:pt-18">
      <AboutSection />
      <ContentRenderer
        query={query("memes").orderBy(sortByOrder())}
        variant="MemesVariant"
      />
    </div>

    <div
      class="relative bg-cover bg-center bg-fixed outer-section"
      style={`background-image: url("${BgImage.src}");`}
    >
      <WhyChooseUs />
      <ContentRenderer
        query={query("features").orderBy(sortByOrder())}
        variant="FeaturesVariant"
      />
      <ContentRenderer
        query={query("testimonials").orderBy(sortByOrder())}
        variant="TestimonialsVariant"
      />
      <Image
        src={Poll}
        alt="i75 road background"
        class="inner-section-sm h-full object-cover mt-10"
        loading="lazy"
      />
    </div>

    <div class="border-3 border-light-primary pt-10 lg:pt-18">
      <ContentRenderer
        query={query("partners").orderBy(sortByOrder())}
        variant="PartnersVariant"
      />
    </div>
  </main>
</BaseLayout>
